{% extends 'layouts/layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>{{title}}</h3>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor%}
        {% endif %}
        {% endwith%}

        <div class="col-md-5 container-fluid">
            <div class="card mt-3 text-white bg-dark mb-3">
                <div class="card-header">
                    Insertar Nuevo
                </div>
                <div class="card-body">
                    <form action="guardar" method="POST">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="nombre" placeholder="Escriba Materia">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="sigla" placeholder="Sigla">
                        </div>
                        
                        <button class="btn btn-primary form-control " type="submit">
                            Registrar
                        </button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
<!-- Estilos CSS -->
{% block css%}

{% endblock %}
<!-- Java Scripts -->
{% block js%}

{% endblock %}
